#List over files and folders for docker to ignore when building images.
.git
.gitignore
__pycache__
*.py[cod]
*.so
.venv
venv
.env
.env.*
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
dist
build
*.egg-info
Dockerfile
docker-compose.yml
README.md